<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="event">
  <div class="calendarTitle">
    <ion-item class="noBorder">
      <ion-icon name="calendar"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h1>{{ event.calendarName }}</h1>
      </ion-label>
    </ion-item>
  </div>


  <div class="ion-padding">
    <h1>{{ event.summary }}</h1>
    <ion-note><ion-icon name="time"></ion-icon> {{ event.startDateString }}<span *ngIf="event.startTimeString">, {{
        event.startTimeString }} - {{ event.endTimeString }}</span></ion-note><br>
    <a *ngIf="event.location" (click)="openGoogleMaps(event.location)"><ion-note *ngIf="event.location"><ion-icon
          name="map"></ion-icon> {{ event.location }}</ion-note></a>
    <!-- <ion-note *ngIf="event.location"><ion-icon name="map"></ion-icon> {{ event.location }}</ion-note> -->
    <p *ngIf="event.description">Description: {{ event.description }}</p>
    <p *ngIf="!event.description">No description</p>
  </div>
</ion-content>

<ion-footer *ngIf="event" class="ion-no-border">
  <ion-toolbar class="footerToolbar">
    <ion-button *ngIf="event.location" shape="round" [ngStyle]="{'--ripple-color': event.primaryColor}" class="ion-text-wrap footerButton"
      (click)="openGoogleMaps(event.location)">View in Maps</ion-button>
    <br>
    <ion-button shape="round" [ngStyle]="{'--ripple-color': event.primaryColor}" class="ion-text-wrap footerButton"
      (click)="addEventToNativeCalendarInteractively(event)">Add to My Calendar</ion-button>
    <br>
    <ion-button *ngIf="isIOS" shape="round" [ngStyle]="{'--ripple-color': event.primaryColor}"
      class="ion-text-wrap footerButton" [href]="getCalendarICSUrl(event.calendarId)">Subscribe to Calendar</ion-button>
    <ion-button *ngIf="!isIOS" shape="round" [ngStyle]="{'--ripple-color': event.primaryColor}"
      class="ion-text-wrap footerButton" id="open-modal">Subscribe to Calendar</ion-button>
  </ion-toolbar>
</ion-footer>

<ion-modal *ngIf="deviceReady && !isIOS && event" #modal trigger="open-modal">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Subscribe to Calendar</ion-title>
        <ion-buttons slot="end">
          <ion-button shape="round" (click)="modal.dismiss()">Cancel</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <h4 class="center">Sync with Google Calendar</h4>
      <div class="center">
        <img class="googleCalendarLogo" src="../../assets/media/gcalendar.png">
      </div>
      <p class="ion-padding-right ion-padding-left center">After signing into Google Calendar, tap the "Add" button to
        subscribe to {{ event.calendarName }}.</p>
    </ion-content>
    <ion-footer *ngIf="event" class="ion-no-border">
      <ion-toolbar class="footerToolbar">
        <ion-button class="googleCalendarButton ion-text-wrap" shape="round"
          [href]="getGoogleCalendarUrl(event.calendarId)">Continue to Google Calendar</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>