<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="event">
  <div class="calendarTitle">
    <ion-item class="noBorder">
      <ion-icon name="calendar"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h1>{{ event.calendarName }}</h1>
      </ion-label>
    </ion-item>
  </div>


  <div class="ion-padding">
    <h1>{{ event.summary }}</h1>
    <ion-note><ion-icon name="time"></ion-icon> {{ event.startDateString }}<span *ngIf="event.startTimeString">, {{
        event.startTimeString }} - {{ event.endTimeString }}</span></ion-note><br>
    <!-- <a *ngIf="event.location" [href]="sanitizeUrl(baseGoogleMapsURL + encodeSearchQuery(event.location))"><ion-note
        *ngIf="event.location"><ion-icon name="map"></ion-icon> {{ event.location }}</ion-note></a> -->
    <ion-note *ngIf="event.location"><ion-icon name="map"></ion-icon> {{ event.location }}</ion-note>
    <p *ngIf="event.description">Description: {{ event.description }}</p>
    <p *ngIf="!event.description">No description</p>
  </div>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Calendar List</ion-title>
          <ion-buttons slot="end">
            <ion-button shape="round" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <h4 style="text-align: center">Choose a calendar to add events to</h4>
        <ion-radio-group [(ngModel)]="selectedCalendarId" *ngIf="calendarList.length" class="radio-group">
          <div *ngFor="let cal of calendarList">
            <ion-item *ngIf="cal.isPrimary">
              <ion-label>{{ cal.name }}</ion-label>
              <ion-radio class="radio-button" [value]="cal.id"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-content>
      <ion-footer style="text-align: center">
        <ion-button expand="block" shape="round" (click)="subscribeToCalendarAndroid()">
          Add
        </ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer *ngIf="event" class="ion-no-border">
  <ion-toolbar class="footerToolbar">
    <ion-button shape="round" [ngStyle]="{'--ripple-color': event.primaryColor}" class="ion-text-wrap footerButton "
      (click)="addEventToNativeCalendarInteractively(event)">Add to My Calendar</ion-button>
    <br>
    <ion-button shape="round" [ngStyle]="{'--ripple-color': event.primaryColor}" class="ion-text-wrap footerButton"
      (click)="subscribeToCalendarIOS(event)">Subscribe to Calendar</ion-button>
    <br>
    <ion-button shape="round" [ngStyle]="{'--ripple-color': event.primaryColor}" class="ion-text-wrap footerButton"
      id="open-modal" (click)="getCalendarList()">Open Modal</ion-button>
  </ion-toolbar>
</ion-footer>