<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="event">
  <ion-item>
    <ion-icon name="calendar"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>{{ event.calendarName }}</h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h1>{{ event.summary }}</h1>
    <ion-note><ion-icon name="time"></ion-icon> {{ event.dateObject.toDateString() }}</ion-note><br>
    <ion-note><ion-icon *ngIf="event?.location" name="map"></ion-icon> {{ event.location }}</ion-note>
    <p>
      {{ event.description }}
    </p>
  </div>
</ion-content>
