ion-card {
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
    --ion-card-background: #e9e9e9;
}

img {
    object-fit: cover;
    max-height: 30vh;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    ion-card {
        --ion-card-background: #2e2e2e;
    }
}