<ion-card *ngIf="post" mode="ios" (click)="openUrl(post.url)" [ngStyle]="{'border-left-color': (post.color == '') ? '' : post.color}">
    <img *ngIf="post.featuredMediaUrl" [src]="post.featuredMediaUrl">
    <ion-card-header>
        <ion-card-title *ngIf="post.title">{{ post.title }}</ion-card-title>
        <ion-card-title *ngIf="!post.title">No Post Title</ion-card-title>
        <ion-card-subtitle><ion-icon name="school"></ion-icon> {{ post.calendarName }}</ion-card-subtitle>
        <ion-card-subtitle><ion-icon name="time"></ion-icon> {{ post.dateString }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngIf="post.content">
        {{ post.content }}
    </ion-card-content>
    <div class="center-button">
        <ion-button (click)="openUrl(post.url)" fill="clear">View Post</ion-button>
    </div>
</ion-card>