<div class="bottom-line">
  <ion-item *ngIf="event" [routerLink]="event.calendarId + '/' + event.id" [detail]="false" [ngStyle]="{'border-left-color': event.secondaryColor}">
    <ion-label>
      <ion-note *ngIf="event.startTimeString" class="date" >{{ event.startTimeString }} - {{ event.endTimeString }}</ion-note>
      <h2>{{ event.summary }}</h2>
      <h3><ion-icon name="calendar"></ion-icon> {{ event.calendarName }}</h3>
      <h3 *ngIf="event.location"><ion-icon name="map"></ion-icon> {{ event.location }}</h3>
      <p *ngIf="event.description">{{ event.description }}</p>
    </ion-label>
  </ion-item>
</div>