<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lewiston Schools</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none">
    <div *ngFor="let date of dateList">
      <h4>{{ date }}</h4>
      <div *ngFor="let event of eventList">
        <app-event *ngIf="date === event.startDateString" [event]="event"></app-event>
      </div>
    </div>
    <ion-item *ngIf="!eventList.length && !calService.noCalendarsChecked()">No events to display!</ion-item>
    <ion-item *ngIf="calService.noCalendarsChecked()">No calendars selected! Select calendars from the menu on the
      left.</ion-item>
  </ion-list>
  <div class="centerButton" *ngIf="moreEventsButtonShown">
    <ion-button shape="round" class="moreEventsButton" (click)="loadMoreEvents()"
      [disabled]="moreEventsButtonDisabled" expand="block">Load More Events</ion-button>
  </div>
</ion-content>