<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lewiston Schools Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Lewiston Schools Calendar
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list id="eventListElement">
    <app-event *ngFor="let event of eventList" [event]="event"></app-event>
    <!-- <app-message *ngFor="let message of getMessages()" [message]="message"></app-message> -->
  </ion-list>
</ion-content>