<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Calendars</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngFor="let cal of envCalList">
    <ion-item>
      <ion-checkbox [ngStyle]="{ '--border-color': cal.secondaryColor, '--background-checked': cal.primaryColor }" slot="start"></ion-checkbox>
      <ion-label class="ion-text-wrap">{{ cal.name }}</ion-label>
    </ion-item>
  </div>
</ion-menu>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>
  
  <ion-list lines="none" id="eventListElement">
    <app-event class="bottom-line" *ngFor="let event of eventList" [event]="event"></app-event>
  </ion-list>
</ion-content>